<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Only_tool">
        <activity
            android:name=".AsyncTaskActivity"
            android:exported="false" />
        <activity
            android:name=".thread.handler.HandlerActivity"
            android:exported="false" />
        <activity
            android:name=".thread.ThreadActivity"
            android:exported="false" />
        <activity
            android:name=".customView.clickEvent.ClickEventActivity"
            android:exported="false" />
        <activity
            android:name=".customView.clock.ClockActivity"
            android:exported="false" />
        <activity
            android:name=".customView.CustomActivity"
            android:exported="false" />
        <activity
            android:name=".component.JumpAppServiceActivity"
            android:exported="false" />
        <activity
            android:name=".component.curProcess.CurProcessServiceActivity"
            android:exported="false" />
        <activity
            android:name=".interestingApi.ChatGptActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.BaseKotlinActivity"
            android:exported="false" />
        <activity
            android:name=".third.rxjava.RxJavaActivity"
            android:exported="false" />
        <activity
            android:name=".third.glide.GlideActivity"
            android:exported="false" />
        <activity
            android:name=".third.okHttp.OkHttpActivity"
            android:exported="false" />
        <activity
            android:name=".third.retrofit.RetrofitActivity"
            android:exported="false" />

        <service
            android:name=".component.curProcess.CurProcessService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="AIDL.service" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>