<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Only_tool">

        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".setting.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".setting.ObtainActivity"
            android:exported="false" />
        <activity
            android:name=".team.TeamActivity"
            android:exported="false" />
        <activity
            android:name=".manyApi.ManyApiActivity"
            android:exported="false" />
        <activity
            android:name=".touch.PostActivity"
            android:exported="false" />

        <service android:name=".team.FloatingWindowService" />
        <service android:name=".touch.PostFloatWindow" />

        <service
            android:name=".accessibility.AllAppService"
            android:exported="true"
            android:label="A雷速自动化"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <!--       android:process=":BackgroundService" 会开启新的进程，导致单例失效并再次创建！！！！！   -->

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <!--       通过xml文件完成辅助功能相关配置，也可以在onServiceConnected中动态配置-->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

        </service>


    </application>

</manifest>